@media(max-width: 1024px) {
  .search {
    margin-bottom: 10px;
  }
  .searchTerms {
    margin-left: 0;
  }
  .gidai3 {
    font-size: 70px;
  }
  .gidai4 {
    font-size: 25px;
  }
  .mk1 {
    font-size: 30px;
  }
  .mk2 {
    font-size: 20px;
  }
  .ke1 {
    font-size: 50px;
  }
  .ke2 {
    font-size: 20px;
  }
  .ikena2 {
    height: 200px;
  }
  .ikenb2 {
    height: 200px;
  }
  .kaisai_btn {
    height: 150px;
    width: 150px;
  }
  .syouritenn {
    width: 175px;
    height: 70px;
    font-size: 50px;
  }
  .koukokupc1{
    display:none;
  }
  .koukokupad1{
    display:block;
    margin-left:10%;
    width:80%;
    text-align:center;
    margin-top:140px;
    margin-bottom:20px;
  }
}


@media(max-width: 767px) {
  /* 1024pxÃƒÂ£Ã‚ÂÃ‚Â¾ÃƒÂ£Ã‚ÂÃ‚Â§ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¥Ã‚Â¹Ã¢â‚¬Â¦ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¥Ã‚Â Ã‚Â´ÃƒÂ¥Ã‚ÂÃ‹â€ ÃƒÂ£Ã‚ÂÃ‚Â«ÃƒÂ©Ã‚ÂÃ‚Â©ÃƒÂ¥Ã‚Â¿Ã…â€œÃƒÂ£Ã‚ÂÃ¢â‚¬Â¢ÃƒÂ£Ã¢â‚¬Å¡Ã…â€™ÃƒÂ£Ã¢â‚¬Å¡Ã¢â‚¬Â¹ */
  .migi {
    display: none;
  }
  .head {
    width: 70%;
    position: absolute;
    height: 66px;
  }
  .search {
    margin-left: 0%;
    width: 100%;
  }
  .siaisakusei {
    width: 100%;
    margin-left:0;
  }
  .gidai3 {
    font-size: 50px;
  }
  .gidai4 {
    font-size: 20px;
  }
  .mk1 {
    font-size: 20px;
  }
  .mk2 {
    font-size: 15px;
  }
  .ke1 {
    font-size: 30px;
  }
  .ke2 {
    font-size: 15px;
  }
  .ikena2 {
    height: 100px;
  }
  .ikenb2 {
    height: 100px;
  }
  .kaisai_btn {
    height: 100px;
    width: 100px;
  }
  .syouritenn {
    width: 125px;

  }
  .koukokupad1{
    display:none;
  }
  .koukokusm1{
    display:block;
    width:100%;
    text-align:center;
    margin-top:140px;
    margin-bottom:10px;
  }
}
@media(max-width: 320px) {
  .koukokuga1{
    display:block;
    width:100%;
    text-align:center;
    margin-top:140px;
    margin-bottom:10px;
  }
  .koukokusm1{
    display:none;
  }
}
