@media(max-width: 1024px) {
  .koukokupc1{
    display:none;
  }
  .koukokupad1{
    display:block;
    margin-left:10%;
    width:80%;
    text-align:center;
    margin-top:140px;
    margin-bottom:20px;
  }
}
@media(max-width: 767px) {
  .migi {
    display: none;
  }
  .head {
    width: 70%;
    position: absolute;
    height: 66px;
  }
  .tsukaikata0 {
    width: 100%;
    margin-left: 0;
  }
  .koukokupad1{
    display:none;
  }
  .koukokusm1{
    display:block;
    width:100%;
    text-align:center;
    margin-top:140px;
    margin-bottom:10px;
  }
}
@media(max-width: 320px) {
  .koukokuga1{
    display:block;
    width:100%;
    text-align:center;
    margin-top:140px;
    margin-bottom:10px;
  }
  .koukokusm1{
    display:none;
  }
}
